body {
	font-family: 'Open Sans',sans-serif;
}

h1 {
	text-transform: capitalize;
	text-align: center;
	letter-spacing: normal;
}

.wrapper {
	display: block;
	margin: 0 auto;
	box-sizing: border-box;
	padding: 0px 15px;
	margin-bottom: 100px;
}

.album {
	box-sizing: border-box;
	position: relative;
	letter-spacing: -0.3em;
	height: 100vh;
	width: 100%;
	padding: 0 50px;
}

.wrapper button {
	display: inline-block;
	vertical-align: top;
	cursor: pointer;
	position: absolute;
	top: 0;
	background: none;
	border: none;
	height: 100%;
	width: 50px;
	padding: 0;
}

.prev {
	left: 0;
}

.next {
	right: 0;
}

.wrapper button::before {
	content: '';
	top: 50%;
	display: inline-block;
	position: absolute;
	width: 20px;
	height: 20px;
	border-bottom: 4px solid darkred;
	border-left: 4px solid darkred;
}

.wrapper button:focus {
	outline: none;
}

.prev::before {
	transform: rotate(45deg);
	left: 25%;
}

.next::before {
	transform: rotate(-135deg);
	right: 25%;
}

.album-content {
	display: inline-block;
	vertical-align: top;
	width: 100%;
}

.thumbs {
	letter-spacing: -0.3em;
	max-height: 100vh;
	overflow-y: scroll;
}

.thumbs a {
	letter-spacing: normal;
	display: inline-block;
	width: calc(54% / 3);
	margin: 1%;
}

.thumbs img {
	width: 100%;
	height: auto;
}

.popup-open {
    outline: none;
    border: none;
    background-color: #f1dc0a;
    color: black;
    text-transform: uppercase;
    width: 200px;
    line-height: 40px;
    margin: 0 auto;
    display: block;
}

.popup {
	opacity: 0;
	top: 50%;
	left: 50%;
	position: fixed;
	z-index: 100;
	box-sizing: border-box;
	width: auto;
	box-shadow: 0 0 0 1000px rgba(0,0,0,0.3);
	transform: translateX(-1000%);
}

.popup.opened {
	opacity: 1;
	transform: translate(-50%,-50%);
	transition: opacity 0.4s;
}

.close {
	display: block;
	position: absolute;
	width: 30px;
	height: 30px;
	background-color: #f1dc0a;
	right: 0;
	top: 0;
	cursor: pointer;
}

.close::before, .close::after {
	content: '';
	display: block;
	position: absolute;
	top: 15px;
	left: 5px;
	width: 20px;
	height: 2px;
	background-color: gray;
}

.close::before {
	transform: rotate(45deg);
}

.close::after {
	transform: rotate(-45deg);
}

.title {
	font-size: 18px;
	display: block;
	text-align: center;
	font-weight: bold;
	margin-bottom: 20px;
	text-transform: uppercase;
}

.popup input:not(#checkbox){
	display: block;
	width: 100%;
	box-sizing: border-box;
	padding: 10px;
	margin-bottom: 15px;
	font-size: 14px;
}


@media screen and (max-width: 1170px) {
	.album-content {
		width: 100%;
	}
	
	.thumbs a {
		width: calc(94% / 3);
	}
}

@media screen and (max-width: 800px) {
	
	h1 {
		font-size: 22px;
	}
	
	.popup {
		width: 80%;
	}
	
	.popup img {
		width: 100%;
	}

}

@media screen and (max-width: 450px) {
	
	h1 {
		font-size: 18px;
	}
	
	.wrapper button {
		width: 25px;
	}
	
	.wrapper button::before { 
		width: 10px;
		height: 10px
	}
	
	.album {
		padding: 0 25px;	
	}
	
	.wrapper {
		padding: 0 10px; 
	}
	
	.thumbs a {
		width: 97%;
	}
	
	.popup {
		width: 95%;
	}	
}
